<mat-toolbar class="sticky-top" color="primary">
  <span>Ma liste de courses</span>
  <div class="spacer"></div>
  <button  mat-icon-button (click)="logOut()" color="accent">
    <mat-icon>person_remove</mat-icon>
  </button>
  <div class="spacer"></div>
  
  <button  mat-icon-button (click)="createElem()">
    <mat-icon>library_add</mat-icon>
  </button>
</mat-toolbar>

<app-list (selectionChange)="elem = $event"></app-list>

<!-- <div class="container">
  <div class="row">
    <div class="col-4">
      <app-list (selectionChange)="elem = $event"></app-list>
    </div>
    <div class="col-8">
      <app-edit-elem [datas]="elem"></app-edit-elem>
    </div>
  </div>
</div> -->

